p {
    color: brown;
    padding: 10px;
}

h1 {
    color: blue;
}

body {
    background-color: bisque;
}

.title {
    align-self: center;
    justify-self: center;
    background-color: azure;
    display: flexbox
}

.flextest {
    align-self: start;
    justify-self: auto;
}